header {
    margin: 0 auto;
    padding-top: 6px;
    background-color: var(--ms-light-bg-color);
    text-align: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    flex: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 30%;
    padding: 3px 16px 6px;
    border-bottom: 2px solid var(--ms-border-color);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-items: end;
    flex: 1;
    border-top: 2px solid var(--ms-border-color);
    border-top-left-radius: 35px;
    position: relative;
}

header nav ul li:first-child {
    margin-left: 10px;
}

header nav ul::before {
    content: '';
    height: 27px;
    width: 38px;
    position: absolute;
    z-index: 999;
    border-bottom-right-radius: 100%;
    left: -40px;
    top: 20px;
    border: 2px solid #000;
    border-color: transparent var(--ms-border-color) var(--ms-border-color) transparent;
}

header nav ul li {
    list-style: none;
    padding: 16px;
    border-bottom: 2px solid var(--ms-bg-color);
    position: relative;
    cursor: pointer;
}

header nav ul li:hover {
    border-bottom-color: var(--ms-border-color);
}

header nav ul li::before {
    content: '....';
    position: absolute;
    width: 2px;
    overflow: hidden;
    word-wrap: break-word;
    top: 50%;
    line-height: 6px;
    transform: translate(-16px, -50%);
}

header nav ul li:first-child::before {
    display: none;
}