.page-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    padding-top: 12px;
}

.page-container .loader-wrapper {
    margin: 0 16px 16px;
}

.page-container .archive-btn {
    margin: 16px;
    padding: 16px;
}

.page-container .archive-btn .archive-btn-text {
    margin-left: 10px;
}

.page-container .archive-btn svg path {
    fill: var(--ms-light-text-color);
}